config:
  registries:
    - name: GitHub Container Registry
      api_url: https://ghcr.io
      prefix: ghcr.io
      ping: yes
      credentials: secret:argocd/argocd-image-updater-secret#ghcr-token
