config:
  registries:
    - name: GitHub Container Registry
      api_url: https://ghcr.io
      prefix: ghcr.io
      ping: yes
      # You will need to create a generic K8s secret named 'ghcr-secret'
      # with key 'token' containing a PAT with 'read:packages' scope
      credentials: secret:argocd/ghcr-credentials#token

authScripts:
  git-creds: |
    #!/bin/sh
    echo "username=git"
    echo "password=$GIT_TOKEN"

extraEnv:
  - name: GIT_TOKEN
    valueFrom:
      secretKeyRef:
        name: argocd-image-updater-git-token
        key: token
