apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: website
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: website=ghcr.io/overburrow/website    
    argocd-image-updater.argoproj.io/website.update-strategy: latest    
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  source:
    helm:
      parameters:
        - name: image.tag
          value: latest
